<a href="https://colab.research.google.com/github/chom5621/Baekjoon/blob/main/%EA%B8%B0%EB%B3%B8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def 피보나치수(n):
  f_0, f_1 = 0, 1
  for i in range(n):
    f_0, f_1 = f_1, f_0 + f_1
  return f_0

In [ ]:
피보나치수(10)

55

In [ ]:
import itertools

def 일곱난쟁이(k):
 lst=list(itertools.combinations(k,7))
 lst7=[]
 for i in lst:
   if sum(i)==100:
     lst7=i
     break
 lst7=sorted(lst7)
 return lst7

In [ ]:
일곱난쟁이([20, 7 ,23, 19, 10, 15, 25, 8, 13])

[7, 8, 10, 13, 19, 20, 23]

In [ ]:
def 최공(a,b):

  # 최대공약수
  for i in range(min(a,b), 0, -1):
    if a % i == 0 and b % i ==0:
      print(i)
      break

  # 최소공배수
  for j in range(max(a,b),a*b+1):
    if j % a == 0 and j % b == 0:
      print(j)
      break

In [ ]:
최공(24, 18)

6
72

In [ ]:
def N번째큰수(k):
  for i in range(k):
    i = list(map(int, input().split()))
    si = sorted(i,reverse=True)
    print(si[2])

In [ ]:
N번째큰수(4)

1 2 3 4 5 6 7 8 9 1000
8
338 304 619 95 343 496 489 116 98 127
489
931 240 986 894 826 640 965 833 136 138
931
940 955 364 188 133 254 501 122 768 408
768

In [ ]:
def 소수찾기(N):
  count = 0
  N = int(input())
  i = list(map(int, input().split()))
  for ii in i:
    k = 0
    for j in range(1,ii+1):
      if ii % j == 0:
        k += 1
      if k == 2:
        count += 1
  return count

In [ ]:
소수찾기(4)

4
1 3 5 7

3

In [ ]:
def 쉽게푸는문제(a,b):
  #a,b=map(int, input().split())
  sum=0
  for i in range(a+1,b):
    sum+=i
  return sum

In [ ]:
쉽게푸는문제(3,7)

15

In [ ]:
def 소수(M,N):
  M=int(input())
  N=int(input())
  lst=[]
  소수lst=[]
  for i in range(M,N+1):
    lst.append(i)
  for j in lst:
    count = 0
    for k in range(1,j+1):
      if j % k == 0:
        count += 1
      if count == 2:
        소수lst.append(j)
  print(sum(소수lst))
  print(min(소수lst))

In [ ]:
def 소수(M,N):
  #M=int(input())
  #N=int(input())

  소수lst=[]

  for i in range(M,N+1):

    if i == 1:
      pass
    elif i == 2:
      소수lst.append(i)
    else:
      for k in range(2,i):
        if i % k == 0:
          break
        elif k == i-1:
          소수lst.append(i)

  if len(소수lst) == 0:
    print("-1")
  else:
    print(sum(소수lst))
    print(min(소수lst))

In [ ]:
소수(60,100)

620
61

In [ ]:
소수(64,65)

-1