<a href="https://colab.research.google.com/github/chom5621/Baekjoon/blob/main/%EB%B0%B1%EC%A4%80%EA%B8%B0%EB%B3%B8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
def 피보나치수(n):
  f_0, f_1 = 0, 1
  for i in range(n):
    f_0, f_1 = f_1, f_0 + f_1
  return f_0

In [8]:
피보나치수(10)

55

In [33]:
import itertools

def 일곱난쟁이(k):
 lst=list(itertools.combinations(k,7))
 lst7=[]
 for i in lst:
   if sum(i)==100:
     lst7=i
     break
 lst7=sorted(lst7)
 return lst7

In [34]:
일곱난쟁이([20, 7 ,23, 19, 10, 15, 25, 8, 13])

[7, 8, 10, 13, 19, 20, 23]

In [35]:
def 최공(a,b):

  # 최대공약수
  for i in range(min(a,b), 0, -1):
    if a % i == 0 and b % i ==0:
      print(i)
      break

  # 최소공배수
  for j in range(max(a,b),a*b+1):
    if j % a == 0 and j % b == 0:
      print(j)
      break

In [37]:
최공(24, 18)

6
72

In [5]:
def N번째큰수(k):
  for i in range(k):
    i = list(map(int, input().split()))
    si=sorted(i,reverse=True)
    print(si[2])

In [6]:
N번째큰수(4)

1 2 3 4 5 6 7 8 9 1000
8
338 304 619 95 343 496 489 116 98 127
489
931 240 986 894 826 640 965 833 136 138
931
940 955 364 188 133 254 501 122 768 408
768